<div class="content-container-sidebar">
  <div class="flex-row-sidebar">
    <div class="main-content">
      {% section 'main-page' %}
    </div>
    <div class="sidebar">
      {% section 'sidebar-menu' %}
    </div>
  </div>
  <div class="flex-column-sidebar">
    <div class="section-sidebar-">
      {% section 'newsletter' %}
    </div>
    <div class="section-sidebar">
      {% section 'rich-text' %}
    </div>
    <div class="section-sidebar">
      {% section 'marketing-banner' %}
    </div>
  </div>
</div>

